<appSettings>
    <add key="DEBUGMODE" value="false" />
    <add key="COLUMNCOUNT" value="integer_value" />
    <add key="SMTPSERVER" value="smtp_server" />
    <add key="DEFAULTSUBJECT" value="default_subject" />
    <add key="SUMMARYEMAIL" value="email_address" />
    <add key="DEFAULTEMAIL" value="email_address" />
    <add key="ONBOARDINGLOCATION" value="path"/>
    <add key="EMAILTEMPLATESLOCATION" value="path" />
    <add key="SUMMARYTEMPLATE" value="File_Path\Summary.html" />
    <add key="REGIONALXMLLOCATION" value="File_Path\RegionalEMails.xml" />
    <add key="ADJUDICATIONPRODUCTIONFILELOCATION" value="path" /> 
    <add key="ADJUDICATIONDEBUGFILELOCATION" value="path" />
    <add key="ADJUDICATIONSSUMMARY" value="File_Path\AdjudicationSummary.csv" />
    <add key="SUMMARYBACKUPLOCATION" value="File_Path\SummaryBackups\" />
    <add key="FASEMAIL" value="email_address"/>
    <add key="CHILDCAREEMAIL" value="email_address"/>
    <add key="Salt" value="SaltHere" />
    <add key="EPass" value="EPassHere" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>
